.navigation {
    background-color: #212121;
    width: 100%;
    border-top: 5px solid #144ACE;
    color: #fff;
    display: block;
    position: fixed;
    z-index: 2;
}

.container {
    position: relative;
}

.navLinks {
    display: none;
}

@media (min-width: 992px) {
  .navLinks {
      display: inline-block;
  }
}

.logo img {
    height: 200px!important;
}