.navigation {
    background-color: #212121;
    width: 100%;
    height: 50px;
    border-top: 5px solid #144ACE;
    color: #fff;
    display: flex;
    position: fixed;
}

.navLinks {
    display: none;
}

/* Tablet-Landscape (and larger) */
@media (min-width: 992px) {
  .navLinks {
      display: inline-block;
  }
}

.logo img {
    height: 200px!important;
}